apiVersion: v1
kind: Service
metadata:
  name: ftps
  annotations:
    metallb.universe.tf/allow-shared-ip: minikube
spec:
  selector:
    app: vsftpd
  ports:
    - protocol: TCP
      port: 21
      targetPort: 21
      name: ftp-control
    - protocol: TCP
      port: 2121
      targetPort: 2121
      name: ftp-data
  type: LoadBalancer
  loadBalancerIP: _MINIKUBE_IP_
